{% include 'recipes/partial/head.html' %}

<body>
    {% include 'recipes/partial/header.html' %}
    {% include 'recipes/partial/search.html' %}
    <main class="main-content-container">
        <div class="main-content main-content-lis container">
            {% include 'recipes/partial/main.html' %}
            {% include 'recipes/partial/main.html' %}
            {% include 'recipes/partial/main.html' %}
            {% include 'recipes/partial/main.html' %}
            {% include 'recipes/partial/main.html' %}
            {% include 'recipes/partial/main.html' %}
        </div>
        </div>
    </main>

</body>

</html>